/* Query Vars */

$medium-lg: 980px;
$medium-sm: 680px;
$mobile: 525px;

.glyphicon {
	top: 0;
}

html {
	background-color: #eee;
}

body {
	width: 70%;
	margin: 0 auto;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;

	@media (max-width: $medium-lg) {
		width: 90%;
	}
	@media (max-width: $medium-sm) {
		width: 100%;
	}
}

@media (max-width: $mobile) {
	#contact-list-column, #contact-view {
		position: absolute;
		width:100%;
	}
	#contact-list-column {
		left: 0;
	}
	#contact-view {
		left: 100%;
	}
}

#contact-list-column {
	border-right: 1px solid #ccc;
	height: 100%;
	overflow: hidden;


	.top-bar {
		padding: 1em 1em 1em 0em;
		border-bottom: 1px solid #ccc;

		button {
			float: right;
			height: 2.5em;
			
			&:focus {
				outline: none;
			}
		}
	}

	input[type="textbox"] {
		width: 100%;
	}

}

.contact-listing {
	overflow: auto;

	div {
		height: 3em;

		p {
			line-height: 3em;
		}
	}
	&:hover {
		cursor: pointer;
	}

	.listing-name {
		&:hover {
			background-color: lightblue;
		}
	}
	.glyphicon {
		text-align: center;

		&:before {
			line-height: 3em;
		}
		&:hover {
			background-color: red;
		}
	}

	&:nth-child(even) {
		background: #F7F7F7 url('http://www.chronicle.com/img/photos/biz/texture_diagonal_gray.gif') repeat;
	}
}

#contact-view {
	height: 100%;
	padding-top: 1em;

	h3 {
		margin-top: 0;
	}
}

.contact-info {
	height: 40%;

	.contact-image {

		img {
			float: right;
			height: 100%;
		}
	}

}

.contact-view-button-wrapper {
	margin-right: 1em;
	text-align: right;

	button {
		height: 2.5em;


		&:focus {
			outline: none !important;
		}
	}

	@media (max-width: 780px) {

		button {
			margin-bottom: 0.3em;
			margin-right: 0.3em;
			float: left;
		}
	}
}