body {
    padding: 0 1em;
}
#contact-list-column {
	border-right: 1px solid #ccc;
	height: 100%;


	.search-group {
		margin: 1em auto;
	}

	input[type="textbox"] {
		width: 100%;
	}

}

.contact-listing {
	overflow: auto;
	padding: 1em 0;

	&:hover {
		background-color: green;
		cursor: pointer;
	}

	.glyphicon {
		text-align: center;
		padding: 0.2em 0;
	}

	&:first-of-type {
		border-top: 1px solid #ccc;
	}

	&:nth-child(even) {
		background: #F7F7F7 url('http://www.chronicle.com/img/photos/biz/texture_diagonal_gray.gif') repeat;
	}
}

#contact-view {
	height: 100%;
	padding-top: 1em;

	h3 {
		margin-top: 0;
	}
}

.contact-info {
	height: 40%;

	.contact-image {

		img {
			float: right;
			height: 100%;
		}
	}

}