#contact-view {
	background-color: white;
	height: 100%;
	padding-top: 1em;

	h3 {
		margin-top: 0;
		display: inline-block;
	}

	.contact-fields {
		margin-top: 2em;
		width: 100%;

		p {
			margin-bottom: 1.5em;
		}
		input {
			float: right;
			clear: right;
			border: 1px solid #ccc;
			text-align: center;

			&.active-edit {
				background-color: aliceblue;
				border-color: slategray;
				color: gray;
			}

		}

		.validationMessage {
			color: red;
			display: none;
			margin-bottom: 0;
		}
	}
}

.contact-info {
	height: 40%;

	.contact-image {

		img {
			float: right;
			height: 100%;
		}
	}
}


.contact-view-button-wrapper {
	text-align: right;
	float:right;
	display: inline-block;

	button {
		height: 2.5em;


		&:focus {
			outline: none !important;
		}
	}
 
	@media (max-width: 780px) {

		button {
			margin-bottom: 0.3em;
			margin-right: 0.3em;
			float: left;
		}
	}
	@media (max-width: $mobile) {
		width: 100%;
		margin-bottom: 1em;
	}
}