#contact-list-column {
	border-right: 1px solid #ccc;
	height: 100%;
	overflow-y: scroll;


	.top-bar {
		padding: 1em 1em 1em 0em;
		border-bottom: 1px solid #ccc;

		button {
			float: right;
			height: 2.5em;
			
			&:focus {
				outline: none;
			}
		}
	}

	input[type="textbox"] {
		width: 100%;
	}

}

.contact-listing {
	overflow: auto;

	div {
		height: 3em;

		p {
			line-height: 3em;
			margin-bottom: 0;
		}
	}
	&:hover {
		cursor: pointer;
	}

	.listing-name {
		&:hover {
			background-color: lightblue;
		}
	}
	.glyphicon {
		text-align: center;

		&:before {
			line-height: 3em;
		}
		&:hover {
			background-color: red;
		}
	}

	&:nth-child(even) {
		background: #F7F7F7 url('http://www.chronicle.com/img/photos/biz/texture_diagonal_gray.gif') repeat;
	}
}
